<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/assets/admin/favicon.ico">
    <script src="./siteInfo.js"></script>
    <script src="https://at.alicdn.com/t/font_2072967_1r3v06fl2me.js"></script>
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_2072967_1r3v06fl2me.css">
    <title>leadshop</title>
    <link href="/assets/admin/css/channel-appletsInfo.383036a8.css" rel="prefetch">
    <link href="/assets/admin/css/channel-appletsPay.07e2f9ce.css" rel="prefetch">
    <link href="/assets/admin/css/channel-weChatDeploy.aaa87604.css" rel="prefetch">
    <link href="/assets/admin/css/channel-weChatInfo.bf2e002c.css" rel="prefetch">
    <link href="/assets/admin/css/channel-weChatPay.b021fffb.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-0be288e1.12770765.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-1215a2d3.240ff63c.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-12bd5298.27780820.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-18ea70cb.a02fa149.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-1de62252.630deab5.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-36606b2e.2010fbcc.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-3d84af23.0fb6d74e.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-57c71766.68371e02.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-62d71dc6.017970ee.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-63354cb4.2b3aab2c.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-78240b9e.3d8ac5f4.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-7fe186db.84ad429c.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-8d6b66b8.55e55803.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-a6ce09c8.d61231b1.css" rel="prefetch">
    <link href="/assets/admin/css/chunk-cd5e2c20.3f80e3fc.css" rel="prefetch">
    <link href="/assets/admin/css/error-401.612a3e4e.css" rel="prefetch">
    <link href="/assets/admin/css/error-404.612a3e4e.css" rel="prefetch">
    <link href="/assets/admin/css/error-500.612a3e4e.css" rel="prefetch">
    <link href="/assets/admin/css/finish-index.23fb8442.css" rel="prefetch">
    <link href="/assets/admin/css/finish-screen.3378cdd0.css" rel="prefetch">
    <link href="/assets/admin/css/finish-tabbar.32d263b4.css" rel="prefetch">
    <link href="/assets/admin/css/goods-collect-edit.4338a2b8.css" rel="prefetch">
    <link href="/assets/admin/css/goods-collect-list.a8eceb38.css" rel="prefetch">
    <link href="/assets/admin/css/goods-goodsExportHistory.92539d8d.css" rel="prefetch">
    <link href="/assets/admin/css/goods-group-publish.3667dc21.css" rel="prefetch">
    <link href="/assets/admin/css/goods-group.7e96f1e3.css" rel="prefetch">
    <link href="/assets/admin/css/goods-groupTemplate.2f5dd26e.css" rel="prefetch">
    <link href="/assets/admin/css/goods-index.66189e38.css" rel="prefetch">
    <link href="/assets/admin/css/goods-interfaceSet.0d76ad03.css" rel="prefetch">
    <link href="/assets/admin/css/goods-parameterTemplate.66b1799a.css" rel="prefetch">
    <link href="/assets/admin/css/goods-parameterTemplateEdit.94992fe4.css" rel="prefetch">
    <link href="/assets/admin/css/goods-publish.a302f767.css" rel="prefetch">
    <link href="/assets/admin/css/goods-service-publish.75d0226c.css" rel="prefetch">
    <link href="/assets/admin/css/goods-service.1ca664df.css" rel="prefetch">
    <link href="/assets/admin/css/order-bulkShipping.823a346a.css" rel="prefetch">
    <link href="/assets/admin/css/order-logisticsSettings.daf1ee3e.css" rel="prefetch">
    <link href="/assets/admin/css/order-waybill.797ded90.css" rel="prefetch">
    <link href="/assets/admin/css/order-waybillEdit.24c9c951.css" rel="prefetch">
    <link href="/assets/admin/css/package-index.e18b26e1.css" rel="prefetch">
    <link href="/assets/admin/css/plugins-details.2c246296.css" rel="prefetch">
    <link href="/assets/admin/css/plugins-features.7f8b27a5.css" rel="prefetch">
    <link href="/assets/admin/css/plugins-practical.e6c458c8.css" rel="prefetch">
    <link href="/assets/admin/css/plugins-tools.8642727b.css" rel="prefetch">
    <link href="/assets/admin/css/setup-appletsRemind.9639b48c.css" rel="prefetch">
    <link href="/assets/admin/css/setup-smsRemind.70db341e.css" rel="prefetch">
    <link href="/assets/admin/css/setup-system.51727a28.css" rel="prefetch">
    <link href="/assets/admin/css/setup-wechatRemind.32898c37.css" rel="prefetch">
    <link href="/assets/admin/css/store-changelog.71eb7815.css" rel="prefetch">
    <link href="/assets/admin/css/store-pagePreview.cc7885df.css" rel="prefetch">
    <link href="/assets/admin/css/store-update.182edb64.css" rel="prefetch">
    <link href="/assets/admin/css/users-editLabel.f05aa48d.css" rel="prefetch">
    <link href="/assets/admin/css/users-userLabel.c7ed7c26.css" rel="prefetch">
    <link href="/assets/admin/js/channel-appletsInfo.08871aa8.js" rel="prefetch">
    <link href="/assets/admin/js/channel-appletsPay.7062c321.js" rel="prefetch">
    <link href="/assets/admin/js/channel-weChatDeploy.9b5b3695.js" rel="prefetch">
    <link href="/assets/admin/js/channel-weChatInfo.63f68ff3.js" rel="prefetch">
    <link href="/assets/admin/js/channel-weChatPay.256d2a18.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-0be288e1.4f1dd41d.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-1215a2d3.a021f11f.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-12bd5298.3860f8f1.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-18ea70cb.6710665e.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-1de62252.675a061e.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-2d0c774e.9876f4c2.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-2d0e24b5.8971848b.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-2d0efcfc.f49def29.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-36606b2e.ce26af7d.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-3d84af23.396e9f42.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-57c71766.01921eed.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-62d71dc6.1aced4b5.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-63354cb4.f9d7ec82.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-78240b9e.4a0f5d21.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-7fe186db.4445ac58.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-8d6b66b8.8e7e394e.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-a6ce09c8.f92a8a3f.js" rel="prefetch">
    <link href="/assets/admin/js/chunk-cd5e2c20.4bf002b5.js" rel="prefetch">
    <link href="/assets/admin/js/error-401.8fdd26c2.js" rel="prefetch">
    <link href="/assets/admin/js/error-404.d094e779.js" rel="prefetch">
    <link href="/assets/admin/js/error-500.0bb6999b.js" rel="prefetch">
    <link href="/assets/admin/js/finish-index.70233655.js" rel="prefetch">
    <link href="/assets/admin/js/finish-screen.c8c4ac2d.js" rel="prefetch">
    <link href="/assets/admin/js/finish-tabbar.f61c0d6e.js" rel="prefetch">
    <link href="/assets/admin/js/goods-collect-edit.15ec46f2.js" rel="prefetch">
    <link href="/assets/admin/js/goods-collect-list.3acd5a2b.js" rel="prefetch">
    <link href="/assets/admin/js/goods-goodsExportHistory.5e13dd58.js" rel="prefetch">
    <link href="/assets/admin/js/goods-group-publish.1ccbe46f.js" rel="prefetch">
    <link href="/assets/admin/js/goods-group.c8c4658a.js" rel="prefetch">
    <link href="/assets/admin/js/goods-groupTemplate.d79d36ff.js" rel="prefetch">
    <link href="/assets/admin/js/goods-index.e5dac88a.js" rel="prefetch">
    <link href="/assets/admin/js/goods-interfaceSet.61f61f1b.js" rel="prefetch">
    <link href="/assets/admin/js/goods-parameterTemplate.423c5541.js" rel="prefetch">
    <link href="/assets/admin/js/goods-parameterTemplateEdit.5b25a33f.js" rel="prefetch">
    <link href="/assets/admin/js/goods-publish.8fe53e60.js" rel="prefetch">
    <link href="/assets/admin/js/goods-service-publish.0cc4ed83.js" rel="prefetch">
    <link href="/assets/admin/js/goods-service.8f4a5916.js" rel="prefetch">
    <link href="/assets/admin/js/order-bulkShipping.82134bc4.js" rel="prefetch">
    <link href="/assets/admin/js/order-logisticsSettings.b5364737.js" rel="prefetch">
    <link href="/assets/admin/js/order-waybill.c93bc5aa.js" rel="prefetch">
    <link href="/assets/admin/js/order-waybillEdit.c9e14b3e.js" rel="prefetch">
    <link href="/assets/admin/js/package-index.974a9319.js" rel="prefetch">
    <link href="/assets/admin/js/plugins-details.2bfd0cf2.js" rel="prefetch">
    <link href="/assets/admin/js/plugins-features.783540b7.js" rel="prefetch">
    <link href="/assets/admin/js/plugins-practical.32a8489f.js" rel="prefetch">
    <link href="/assets/admin/js/plugins-tools.28f0520e.js" rel="prefetch">
    <link href="/assets/admin/js/setup-appletsRemind.ca12f5dd.js" rel="prefetch">
    <link href="/assets/admin/js/setup-smsRemind.77bdb4b4.js" rel="prefetch">
    <link href="/assets/admin/js/setup-system.8dd2ed0a.js" rel="prefetch">
    <link href="/assets/admin/js/setup-wechatRemind.19f55c42.js" rel="prefetch">
    <link href="/assets/admin/js/store-changelog.3eb753d2.js" rel="prefetch">
    <link href="/assets/admin/js/store-pagePreview.7563c9c1.js" rel="prefetch">
    <link href="/assets/admin/js/store-update.b3b73b46.js" rel="prefetch">
    <link href="/assets/admin/js/users-editLabel.b93278df.js" rel="prefetch">
    <link href="/assets/admin/js/users-userLabel.53402076.js" rel="prefetch">
    <link href="/assets/admin/css/index.78067f21.css" rel="preload" as="style">
    <link href="/assets/admin/js/chunk-echarts.9abfeb26.js" rel="preload" as="script">
    <link href="/assets/admin/js/chunk-elementUi.fd2db04a.js" rel="preload" as="script">
    <link href="/assets/admin/js/chunk-leadshop.07add4c8.js" rel="preload" as="script">
    <link href="/assets/admin/js/index.1fba11f5.js" rel="preload" as="script">
    <link href="/assets/admin/css/index.78067f21.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but leadshop doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/assets/admin/js/chunk-echarts.9abfeb26.js"></script>
<script src="/assets/admin/js/chunk-elementUi.fd2db04a.js"></script>
<script src="/assets/admin/js/chunk-leadshop.07add4c8.js"></script>
<script src="/assets/admin/js/index.1fba11f5.js"></script>
</body>
</html>
