<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/assets/admin/favicon.ico">
  <script src="./siteInfo.js"></script>
  <script src="https://at.alicdn.com/t/font_2072967_1r3v06fl2me.js"></script>
  <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_2072967_1r3v06fl2me.css">
  <title>leadshop</title>
  <link href="/assets/admin/css/channel-appletsInfo.0f458234.css" rel="prefetch">
  <link href="/assets/admin/css/channel-appletsPay.07e2f9ce.css" rel="prefetch">
  <link href="/assets/admin/css/channel-weChatDeploy.aaa87604.css" rel="prefetch">
  <link href="/assets/admin/css/channel-weChatInfo.27bbf5d9.css" rel="prefetch">
  <link href="/assets/admin/css/channel-weChatPay.793f69a6.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-090dd811.e6936d81.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-1215a2d3.51d4422b.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-1de62252.a8833b71.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-35ead94d.154210ff.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-3def6858.0cf75b90.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-562661cc.81d77177.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-61b32af0.d6c69440.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-677078a6.7e6781bf.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-7fe186db.21bf44e4.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-8d4469be.320ff55d.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-ac08004e.ab958bb0.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-b6bbeada.333bbae3.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-c40bdaa4.e7c3deab.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-dbb60faa.7781414f.css" rel="prefetch">
  <link href="/assets/admin/css/chunk-dd6a82be.e1ba56ab.css" rel="prefetch">
  <link href="/assets/admin/css/error-401.612a3e4e.css" rel="prefetch">
  <link href="/assets/admin/css/error-404.612a3e4e.css" rel="prefetch">
  <link href="/assets/admin/css/error-500.612a3e4e.css" rel="prefetch">
  <link href="/assets/admin/css/finish-index.3a16be9e.css" rel="prefetch">
  <link href="/assets/admin/css/finish-screen.3378cdd0.css" rel="prefetch">
  <link href="/assets/admin/css/finish-tabbar.32d263b4.css" rel="prefetch">
  <link href="/assets/admin/css/goods-collect-edit.4338a2b8.css" rel="prefetch">
  <link href="/assets/admin/css/goods-collect-list.a8eceb38.css" rel="prefetch">
  <link href="/assets/admin/css/goods-goodsExportHistory.92539d8d.css" rel="prefetch">
  <link href="/assets/admin/css/goods-group-publish.3667dc21.css" rel="prefetch">
  <link href="/assets/admin/css/goods-group.7e96f1e3.css" rel="prefetch">
  <link href="/assets/admin/css/goods-groupTemplate.8f34701f.css" rel="prefetch">
  <link href="/assets/admin/css/goods-index.0d0038ad.css" rel="prefetch">
  <link href="/assets/admin/css/goods-interfaceSet.4c87ee39.css" rel="prefetch">
  <link href="/assets/admin/css/goods-parameterTemplate.6e57e1d1.css" rel="prefetch">
  <link href="/assets/admin/css/goods-parameterTemplateEdit.952e3d09.css" rel="prefetch">
  <link href="/assets/admin/css/goods-publish.a335cfad.css" rel="prefetch">
  <link href="/assets/admin/css/goods-service-publish.75d0226c.css" rel="prefetch">
  <link href="/assets/admin/css/goods-service.1ca664df.css" rel="prefetch">
  <link href="/assets/admin/css/order-bulkShipping.823a346a.css" rel="prefetch">
  <link href="/assets/admin/css/order-logisticsSettings.750829b8.css" rel="prefetch">
  <link href="/assets/admin/css/order-waybill.797ded90.css" rel="prefetch">
  <link href="/assets/admin/css/order-waybillEdit.24c9c951.css" rel="prefetch">
  <link href="/assets/admin/css/package-index.a88058ad.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-details.1789216c.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-features.0be53f53.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-practical.c55a609e.css" rel="prefetch">
  <link href="/assets/admin/css/plugins-tools.2f42ac6a.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-dynamic-edit.2d42a6e1.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-dynamic.61caa369.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-goods.28d43c2a.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-index-detail-list.7d908aaa.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-index-detail.f241beb7.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-index.7d45c39f.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-leaderboard.86c00e57.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-level-editor.c71136bf.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-level.4b9fbeeb.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-manual.de1ac20c.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-material-edit.69a108d3.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-material.f82104ce.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-order.562c2bb4.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-page-site.184e4f34.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-recruit.57499fc0.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-settlement-site.43718fa0.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-setup.e48e0429.css" rel="prefetch">
  <link href="/assets/admin/css/promoter-withdraw.62a25648.css" rel="prefetch">
  <link href="/assets/admin/css/setup-appletsRemind.22b24e9f.css" rel="prefetch">
  <link href="/assets/admin/css/setup-smsRemind.27d1aaa6.css" rel="prefetch">
  <link href="/assets/admin/css/setup-system.8ed52a68.css" rel="prefetch">
  <link href="/assets/admin/css/setup-wechatRemind.023f82b5.css" rel="prefetch">
  <link href="/assets/admin/css/store-changelog.3c99e4fa.css" rel="prefetch">
  <link href="/assets/admin/css/store-pagePreview.cc7885df.css" rel="prefetch">
  <link href="/assets/admin/css/store-update.182edb64.css" rel="prefetch">
  <link href="/assets/admin/css/users-editLabel.f05aa48d.css" rel="prefetch">
  <link href="/assets/admin/css/users-userLabel.c7ed7c26.css" rel="prefetch">
  <link href="/assets/admin/js/channel-appletsInfo.998b4e37.js" rel="prefetch">
  <link href="/assets/admin/js/channel-appletsPay.f067ca58.js" rel="prefetch">
  <link href="/assets/admin/js/channel-weChatDeploy.cc49f6c6.js" rel="prefetch">
  <link href="/assets/admin/js/channel-weChatInfo.cc4e5aac.js" rel="prefetch">
  <link href="/assets/admin/js/channel-weChatPay.5bb9423d.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-090dd811.8c663f01.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-1215a2d3.5b1d548a.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-1de62252.5cc2545e.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2d0c774e.04b359c0.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2d0e24b5.eed9887c.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-2d0efcfc.1eb58661.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-35ead94d.09b33e06.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-3def6858.7df319af.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-562661cc.2f2b50be.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-61b32af0.0359fc5d.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-677078a6.b68dcccf.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-7fe186db.b525bf11.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-8d4469be.bbfdf70e.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-ac08004e.72b9169b.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-b6bbeada.2e447925.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-c40bdaa4.5de470e1.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-dbb60faa.99caf995.js" rel="prefetch">
  <link href="/assets/admin/js/chunk-dd6a82be.dd599fee.js" rel="prefetch">
  <link href="/assets/admin/js/error-401.2ffc6045.js" rel="prefetch">
  <link href="/assets/admin/js/error-404.47efc840.js" rel="prefetch">
  <link href="/assets/admin/js/error-500.bfad4d3c.js" rel="prefetch">
  <link href="/assets/admin/js/finish-index.36c0b505.js" rel="prefetch">
  <link href="/assets/admin/js/finish-screen.af61062e.js" rel="prefetch">
  <link href="/assets/admin/js/finish-tabbar.260503fa.js" rel="prefetch">
  <link href="/assets/admin/js/goods-collect-edit.cdefc5aa.js" rel="prefetch">
  <link href="/assets/admin/js/goods-collect-list.1d28fc98.js" rel="prefetch">
  <link href="/assets/admin/js/goods-goodsExportHistory.0eaad4b4.js" rel="prefetch">
  <link href="/assets/admin/js/goods-group-publish.8a43c167.js" rel="prefetch">
  <link href="/assets/admin/js/goods-group.3a820b76.js" rel="prefetch">
  <link href="/assets/admin/js/goods-groupTemplate.2d607f02.js" rel="prefetch">
  <link href="/assets/admin/js/goods-index.b84a0e34.js" rel="prefetch">
  <link href="/assets/admin/js/goods-interfaceSet.f179c349.js" rel="prefetch">
  <link href="/assets/admin/js/goods-parameterTemplate.d5c9114b.js" rel="prefetch">
  <link href="/assets/admin/js/goods-parameterTemplateEdit.b7d38e24.js" rel="prefetch">
  <link href="/assets/admin/js/goods-publish.06dcd489.js" rel="prefetch">
  <link href="/assets/admin/js/goods-service-publish.869539a4.js" rel="prefetch">
  <link href="/assets/admin/js/goods-service.1515f3ff.js" rel="prefetch">
  <link href="/assets/admin/js/order-bulkShipping.1b871044.js" rel="prefetch">
  <link href="/assets/admin/js/order-logisticsSettings.6072e99a.js" rel="prefetch">
  <link href="/assets/admin/js/order-waybill.c93bc5aa.js" rel="prefetch">
  <link href="/assets/admin/js/order-waybillEdit.c9e14b3e.js" rel="prefetch">
  <link href="/assets/admin/js/package-index.271f6d5b.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-details.743f258b.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-features.d450312a.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-practical.0117470b.js" rel="prefetch">
  <link href="/assets/admin/js/plugins-tools.9ab9d528.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-dynamic-edit.1f55d350.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-dynamic.bffbebcf.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-goods.b7aaed00.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-index-detail-list.ed8a3cbe.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-index-detail.59dddd05.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-index.1e9454d4.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-leaderboard.52505e86.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-level-editor.e441e62c.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-level.26d584f7.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-manual.d488dff0.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-material-edit.23052429.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-material.ed172097.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-order.148ce829.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-page-site.1d8150e3.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-recruit.d0dd59b4.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-settlement-site.d51121d0.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-setup.607b52c7.js" rel="prefetch">
  <link href="/assets/admin/js/promoter-withdraw.a51cb841.js" rel="prefetch">
  <link href="/assets/admin/js/setup-appletsRemind.e0590310.js" rel="prefetch">
  <link href="/assets/admin/js/setup-smsRemind.143d3996.js" rel="prefetch">
  <link href="/assets/admin/js/setup-system.baf54a47.js" rel="prefetch">
  <link href="/assets/admin/js/setup-wechatRemind.9bbe3e86.js" rel="prefetch">
  <link href="/assets/admin/js/store-changelog.a5d79818.js" rel="prefetch">
  <link href="/assets/admin/js/store-pagePreview.0c897ee8.js" rel="prefetch">
  <link href="/assets/admin/js/store-update.50c8067b.js" rel="prefetch">
  <link href="/assets/admin/js/users-editLabel.f327540b.js" rel="prefetch">
  <link href="/assets/admin/js/users-userLabel.7f1ae8c1.js" rel="prefetch">
  <link href="/assets/admin/js/vendors~goods-publish.98b22804.js" rel="prefetch">
  <link href="/assets/admin/js/vendors~goods-publish~promoter-recruit.db9cfef8.js" rel="prefetch">
  <link href="/assets/admin/css/index.57d72369.css" rel="preload" as="style">
  <link href="/assets/admin/js/echarts.65b431f9.js" rel="preload" as="script">
  <link href="/assets/admin/js/element-ui.5586a54d.js" rel="preload" as="script">
  <link href="/assets/admin/js/index.f3268dd2.js" rel="preload" as="script">
  <link href="/assets/admin/css/index.57d72369.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but leadshop doesn't work properly without JavaScript enabled. Please enable it to
  continue.</strong></noscript>
<div id="app"></div>
<script src="/assets/admin/js/echarts.65b431f9.js"></script>
<script src="/assets/admin/js/element-ui.5586a54d.js"></script>
<script src="/assets/admin/js/index.f3268dd2.js"></script>
<script src="/assets/admin/js/leadshop.1dfac45b.js"></script>
</body>
</html>
